$clr-primary: #ff0000;
$clr-primary-dark: rgba(172, 16, 16, 0.9);
$clr-primary-light: rgb(254, 20, 47);
$clr-primary-lighter: #e54858;
$clr-secondary: rgba(39, 158, 122, 0.9);
$clr-tertiary: #3876ac;
$clr-bg: rgba(26, 39, 156, 0.4);
$clr-bg-dark: #232323;
$clr-bg-light: #c4c4c4;
$clr-bg-lighter: rgba(255, 255, 255, 0.9);
$clr-txt-dark: #000000;
$clr-txt-light: #ffffff;
$clr-border: #ccc;
$clr-border-light: #fff;