@use "../utils";

.header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.nav-bar {
    display: flex;
    gap: 1rem;
}

.nav-btn-wrapper {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    @include utils.transition-timing-out(ease, background-color, color);

    &:hover {
        background-color: utils.$clr-primary-light;
        @include utils.transition-timing-in(ease, background-color);

        & :where(.nav-link, .fa) {
            color: utils.$clr-txt-light;
            @include utils.transition-timing-in(ease, color);
        }
    }

    &:has(.nav-extender) {
        display: none;
    }
}

.nav-link,
.nav-extender {
    height: 100%;
    width: 100%;
    display: inline-block;
    align-content: center;
    text-align: center;
    text-wrap: nowrap;
}

.nav-extender {
    border: none;
    background-color: transparent;
}

@include utils.respond-to("tablet") {
    .header {
        flex-direction: column;
    }
}

@include utils.respond-to("mobile") {
    .header {
        flex-direction: row;
    }

    .nav-btn-wrapper:has(.nav-link) {
        display: none;
    }

    .nav-btn-wrapper:has(.nav-extender) {
        display: block;
    }
}
