@use "../utils";

.header {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    &-logo {
        max-width: 60vw;
    }

    &[data-form_opened="true"] {
        filter: blur(0.1rem);
    }
}

.nav-bar {
    display: flex;
    gap: 1rem;
}

.nav-btn-wrapper {
    height: 2.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    @include utils.transition-timing-out(ease, background-color, color);

    &:has(.nav-extender) {
        display: none;

        .fa {
            font-size: 1.125rem;
            color: utils.$clr-primary-light;
        }

        &:hover .fa {
            font-size: 1.25rem;
            transition: font-size 300ms ease-out;
        }
    }

    &:hover {
        background-color: utils.$clr-primary-light;
        @include utils.transition-timing-in(ease, background-color);

        & :is(.nav-link, .fa) {
            color: utils.$clr-txt-light;
            @include utils.transition-timing-in(ease, color);
        }
    }
}

.nav-link,
.nav-extender {
    height: 100%;
    width: 100%;
    display: inline-block;
    align-content: center;
    text-align: center;
    text-wrap: nowrap;
}

.nav-extender {
    width: 100%;
    border: none;
    background-color: transparent;
}

@include utils.respond-to("tablet") {
    .header {
        flex-direction: column;
    }
}

@include utils.respond-to("mobile") {
    .header {
        position: relative;
        flex-direction: row;

        &[data-form_opened="true"] {
            filter: blur(0);
        }
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-end;
        z-index: 5;
        background-color: utils.$clr-bg-lighter;
    }

    .nav-bar-mobile {
        position: absolute;
        // don't mind the magic numbers ...
        top: 1.32rem;
        right: 1.93rem;
        border-radius: 0.685rem;
        border: 1px solid utils.$clr-border-dark;

        .nav-btn-wrapper:has(.nav-link) {
            display: block;
        }
    }

    .nav-btn-wrapper:has(.nav-link) {
        display: none;
        width: 100%;
    }

    .nav-btn-wrapper:has(.nav-extender) {
        width: 3rem;
        display: block;
    }
}
