@use "../utils";

body {
    max-width: map-get(utils.$breakpoints, "max-screen");
    margin-inline: auto;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: utils.$clr-bg;
    display: none;
    animation: fade-in 500ms;
}

.blur {
    filter: blur(0.1rem);
}

.main {
    padding: 1rem 2rem;
    position: relative;

    > .btn-signup {
        display: none;
    }
}

@include utils.respond-to("mobile") {
    .background {
        background-color: transparent;
    }

    .blur {
        filter: (blur(0));
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;

        > .btn-signup {
            display: block;
        }
    }

    .hero .btn-signup {
        display: none;
    }
}
